@font-face {
    src: url("fonts/Patrick_Hand/PatrickHand-Regular.ttf");
}
.root {
    -fx-font-family: "Patrick Hand";
    -fx-font-size: 14px;
}

.button {
    -fx-background-color: lightblue;
    -fx-border-radius: 80%;
    -fx-font-family: "Patrick Hand";
    -fx-font-size: 13px;
    -fx-text-fill: black;
}
.button:hover {
    -fx-translate-y: -2px;
    -fx-translate-x: 1px;
    -fx-effect: dropshadow(gaussian, blue, 10, 0, -2, 1);
}

.plus_button {
    -fx-background-color: lightgreen;
}
.plus_button:hover {
    -fx-effect: dropshadow(gaussian, green, 10, 0, -2, 1);
}
.minus_button {
    -fx-background-color: lightpink;
}
.minus_button:hover {
    -fx-effect: dropshadow(gaussian, red, 10, 0, -2, 1);
}
.recipe_list_pane {
    -fx-background-color: navajowhite;
}
.ingredient_list_pane {
    -fx-background-color: plum;
}
.ingredient_list_pane .list-cell {
    -fx-background-color: plum;
}
.ingredient_list_pane .list-cell:hover {
    -fx-background-color: orchid;
}
.prepstep_list_pane {
    -fx-background-color: aquamarine;
}
.prepstep_list_pane .list-cell {
    -fx-background-color: aquamarine;
}

.prepstep_list_pane .list-cell:hover {
    -fx-background-color: cyan;
}

.recipe_list_pane .list-cell {
    -fx-background-color: navajowhite;
}

.recipe_list_pane .list-cell:hover {
    -fx-background-color: orange;
}
.recipe_list_pane .list-cell:focused {
    -fx-text-fill: darkgreen;
}

.recipe_list_pane .text-field {
    -fx-background-color: gold;
    -fx-text-fill: white;
}

.recipe_list_pane .text-field:hover, .recipe_list_pane .text-field:focused {
    -fx-translate-y: -2px;
    -fx-translate-x: 1px;
    -fx-effect: dropshadow(gaussian, orange, 10, 0, -2, 1);
}
